<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar"
       class="flex flex-col w-64 h-screen px-4 pt-8 overflow-y-auto bg-white border-r rtl:border-r-0 rtl:border-l">
    <div class="flex flex-col items-center mt-6 -mx-2">
        <img class="object-cover w-24 h-24 mx-2 rounded-full"
             th:src="@{/avatar/{avatarNumber}.webp(avatarNumber=${member.avatarNumber})}"
             alt="avatar">
        <h4 class="mx-2 mt-2 font-medium text-gray-800" th:text="'@' + ${member.nickname}">John Doe</h4>
        <p class="mx-2 mt-1 text-sm font-medium text-gray-600" th:text="${member.email}">john@example.com</p>
    </div>

    <div class="flex flex-col justify-between flex-1 mt-6">
        <nav th:replace="~{fragments/nav}"></nav>
    </div>
</aside>
</html>