<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('내 방명록')}">
</head>
<body>
    <main class="flex flex-col min-h-screen">
        <div class="flex flex-1">
            <aside th:replace="~{fragments/sidebar}" class="w-64 flex-shrink-0 bg-gray-50 border-r"></aside>
            <section class="flex-1 overflow-y-auto">
                <div class="max-w-2xl mx-auto p-4">

                    <th:block th:unless="${currentUri.endsWith('@' + member.nickname)}">
                        <div class="mb-4">
                            <form th:object="${form}" method="POST" th:action>
                        <textarea th:errorclass="border-red-500" th:field="*{content}"
                                  class="w-full p-2 border rounded-lg resize-none"
                                  placeholder="무슨 말을 남기고 싶나요?"></textarea>
                                <p th:errors="*{content}" class="error"></p>
                                <div class="mt-2 flex justify-between items-center">
                                    <div>
                                        <button type="button" class="p-2 rounded-full bg-blue-100 text-blue-500 mr-2">
                                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                                            </svg>
                                        </button>
                                        <button type="button" class="p-2 rounded-full bg-blue-100 text-blue-500">
                                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-full">작성
                                    </button>
                                </div>
                            </form>
                        </div>
                    </th:block>

                    <th:block th:if="${currentUri.endsWith('@' + member.nickname) && guestbooks.size() == 0}">
                        <h1 class="text-2xl text-gray-700 text-center font-semibold mt-16">아직 작성된 방명록이
                            없네요. <span class="text-2xl">🥺</span></h1>
                        <p class="text-gray-500 my-4 text-center">공유하고 싶은 지인에게 링크를 공유해보세요! </p>
                    </th:block>

                    <th:block th:if="${!currentUri.endsWith('@' + member.nickname) && guestbooks.size() == 0}">
                        <h1 class="text-2xl text-gray-700 text-center font-semibold mt-16">아직 작성된 방명록이
                            없네요. <span class="text-2xl">🥺</span></h1>
                        <p class="text-gray-500 my-4 text-center">첫 인삿말을 남겨보세요!</p>
                    </th:block>


                    <div th:unless="${guestbooks.size() == 0}" class="space-y-4">
                        <div th:each="b : ${guestbooks}" class="bg-white p-4 rounded-lg shadow">
                            <div class="flex items-center mb-2">
                                <img class="w-12 h-12 rounded-full mr-2"
                                     th:src="@{/avatar/{avatarNumber}.webp(avatarNumber=${b.guest.avatarNumber})}"
                                     alt="avatar">
                                <div>
                                    <a th:href="@{/guestbook/@{nickname}(nickname=${b.guest.nickname})}"
                                       class="font-bold block"
                                       th:text="'@' + ${b.guest.nickname}">John Doe</a>

                                    <th:block th:if="${b.updatedAt == null}">
                                        <h3 class="text-sm text-gray-500"
                                            th:text="${#temporals.format(b.createdAt, 'yyyy-MM-dd HH:mm')}"></h3>
                                    </th:block>

                                    <th:block th:unless="${b.updatedAt == null}">
                                        <h3 class="text-sm text-gray-500"
                                            th:text="${#temporals.format(b.updatedAt, 'yyyy-MM-dd HH:mm')} + ' (수정됨)'"></h3>
                                    </th:block>
                                </div>
                            </div>
                            <p th:text="${b.content}"></p>
                            <div class="flex justify-end mt-2 space-x-4">

                            </div>
                            <div class="flex justify-end mt-2 space-x-4">
                                <button class="text-gray-500 hover:text-blue-500">
                                    <svg class="w-5 h-5 inline" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
                                    </svg>
                                    5
                                </button>
                                <button class="text-gray-500 hover:text-red-500">
                                    <svg class="w-5 h-5 inline" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 12V17" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2"></path>
                                        <path d="M14 12V17" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2"></path>
                                        <path d="M4 7H20" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2"></path>
                                        <path d="M6 10V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V10"
                                              stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                                        <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z"
                                              stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer th:replace="~{fragments/footer}" class="bg-gray-100"></footer>
    </main>
</body>
</html>